#dark-mode {
  background-color: #1f2022;

  hr {
    border-top: solid white 1px;
  }

  span {
    color: white;
  }

  .ant-timeline-item-head.ant-timeline-item-head-custom {
    background-color: transparent;
  }

  svg {
    fill: white;
  }

  li {
    color: white;
  }

  .ant-select-selector {
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: 0px 0px;
  }
}
