@tailwind base;
@tailwind components;
@tailwind utilities;

.tw-justify-center {
  justify-content: center;
}

span {
  font-size: 18px;
}

@media (max-width: 345px) {
  span {
    text-align: center;
  }
}
